a{
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times;
    /*Times New Roman and Times look professional for the body of text.d.*/
    text-decoration-color: black;
    text-decoration: none;
    border: none;
}
body{
    /*I chose hsl so that I could make the background color lighter so that the black text would show up easily against it. A light green background color provides a nice contrast.*/
    background-color: hsl(115, 75%, 45%);
    font-size: 1.5rem;
    margin: 1em auto;
    padding: 1px;
    border: 5px dotted purple;
}
h1{
    font-weight: bold;
    text-align: center;
    font-size: 5vh;
    /*I chose to only add a text-shadow to my name so that it is differentiated from the other parts of the CV. */
    text-shadow: 2px 2px 4px gray;
    text-transform: none;
    padding: 0;
    /*I made sure that the name is still centered.*/
}
h2{
    font-weight: normal;
    line-height: 1;
    text-indent: 25px;
    text-align: left;
    font-weight: 15;
    letter-spacing: 2px;
    font-size: 0.75em;
    font-family: 'Trebuchet MS', sans-serif;
    width: 150px;
    height: 50px;
    padding: 25px;
    border: none;
}
p{
    text-align: left;
    font-weight: 39;
    line-height: 1;
    /*The text-indent sets this information off from other text. */
    text-indent: 55px;
    letter-spacing: 1px;
    font-size: 1.3vh;
    font-family: 'Helvetica', Georgia;
    width: 300px;
    height: 100px;
    padding: 50px;
    border: none;
    /*I chose to make this font larger so potential employers can focus on my educational background.*/
}

img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    overflow: hidden;
    display: inline;
    justify-content: left;
    float: left;
    border: 2px solid darkred;
    /*I chose a solid border with this color to provide a contrast with the background color.*/
}
/*I added the CSS for the flexbox by referencing each div in the html*/
.intro{
    display: flex;
    justify-content: left;
    align-items: flex-start;
}
.contactinfo{
    display: flex;
    align-items: flex-end;
    justify-content: right;
}
.name{
    display: flex;
    align-items: center;
    justify-content: center;
}